.power-bards { 
	height: 15px;  /* Can be anything */
	position: relative;
	background: #9e9150; /*background bar color */
	padding: 2px;
}

.power-druids { 
	height: 15px;  /* Can be anything */
	position: relative;
	background: #0D5150; /*background bar color */
	padding: 2px;
}
.power-ovates { 
	height: 15px;  /* Can be anything */
	position: relative;
	background: #045106; /*background bar color */
	padding: 2px;
}
.power-bards > span {
  display: block;
  height: 100%;
  background-color: white;
  position: relative;
  overflow: hidden;
}
.power-druids > span {
  display: block;
  height: 100%;
  background-color: white;
  position: relative;
  overflow: hidden;
}
.power-ovates > span {
  display: block;
  height: 100%;
  background-color: white;
  position: relative;
  overflow: hidden;
}