body { background-color: white; }
.web-container { width: 960px; margin: 0 auto; }

/*----------Navigation Menu Code---------- */
.navigation img { 
    position: relative;
    width: 19%;
    margin: 0 0 0 115px;
    float: left;
    top: 0;
    transition: top 0.4s cubic-bezier(.65, .19, .5, .79);
}
.navigation img:hover {top: 15px;}

.navigation{ background-color: #09C416; }
.navigation ul{
    list-style-type: none;
    overflow: hidden;
}
.navigation li{ float: left; }
.navigation li a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 20px;
    font-family: Josefin Sans;
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.navigation li a:hover{ background-color: #78DEB5; }
.navigation li a:active{ background-color: #78DEB5; }
.footer {
    background-color: #2756c6;
    color: white;
    font-family: Tahoma, sans-serif;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    padding: 10px;
    clear: both;
}

.source {
    padding-top: 20px; 
    background-color: black; 
    color: white;
}
.source-text {font-size: 18px;}
.source-text a{text-decoration: none;}

